.logo{
    width: 7rem;
    height: 4rem;
}


@media screen and (max-width:768px) {
    .right{
        display: none !important ;
    }
    #hero .text{
        display: none;
    }
    #footer .card{
        display: none;
    }
    #footer .middle{
        display: none;
    }
}